.ui-button-success {
    background-color:green;
    border-color: black;
    color: white;
  }

.ui-button-success:not([disabled]):hover {
    background-color:darkgreen;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }
  
  .ui-button-success:not([disabled]):focus {
    background-color:darkgreen;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }
  
  .ui-button-secondary:not([disabled]):hover {
    background-color: rgb(190, 190, 190);
    color: black;
    border-color: black;
    box-shadow: 3px 3px 1px #888888;
  }
  
  .ui-button-primario {
    background-color: rgb(34, 137, 255);
    border-color: rgb(34, 137, 255);
    color: white;
  }

  .ui-button-primario:not([disabled]):hover {
    background-color: rgb(0, 76, 139);
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }

  .ui-button-warning {
    background-color: orange;
    border-color: black;
    color: white;
  }
  
  .ui-button-warning:not([disabled]):hover {
    background-color: darkorange;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }
  
  .ui-button-warning:not([disabled]):focus {
    background-color: darkorange;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }

  .ui-button-danger {
    background-color: red;
    border-color: black;
    color: white;
  }
  
  .ui-button-danger:not([disabled]):hover {
    background-color: darkred;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }
  
  .ui-button-danger:not([disabled]):focus {
    background-color: darkred;
    border-color: black;
    color: white;
    box-shadow: 3px 3px 1px #888888;
  }

  .tiene-error {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
  }
  
  